body
{
background-color: #303030; color:white; font-family: 'Lato', sans-serif;
font-size: 20px;
}
.container
{
width:1000px;
margin-left: auto;
margin-right: auto;
}
.rectangle
{
width:960px;
margin:20px;
text-align:center;
}
.logo
{
width:600px;
float:left;
text-align:left;
font-size:70px;
font-family: "Josefin Sans" , sans-serif;
}
.zegar
{
float:left;
font-family: "Josefin Sans" , sans-serif;
font-size:70px;
text-align:left;
}
.potrzebny 
{
clear:both;
}
.square
{
width:50%;
float:left;
}
a.tilelink 
{
color:white;
text-decoration:none;
display:block;
width:230px;
height:142px;
}
a.tilelinkhtml5
{
color:white;
text-decoration:none;
}
.tile1
{
margin:10px;
width:230px;
height:142px;
background-color:#3095d3;
float:left;
text-align:center;
}
.tile1:hover
{
background-color:#2084c2;
}
.tile2
{
margin:10px;
width:230px;
height:142px;
background-color:#666;
float:left;
text-align:center;
}
.tile2:hover
{
background-color:#555;
}
.tile3
{
margin:10px;
width:420px;
height:142px;
background-color:#93c748;
float:left;
text-align:center;
}
.tile3:hover
{ 
background-color:#82b637;
}
.tile4
{
margin:10px;
width:420px;
height:82px;
background-color:#EE5A32;
text-align:center;
font-size:26px;
padding:30px;
line-height:150%;
}
	